.container-menino{
    background: red;
    width: 100px;
    height: 100ṕx;
}
.principal{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: #e57c3a;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
}

img{
    /*display: block;*/
    /*margin-left: auto;
    margin-right: auto;*/
    width: 810px;
    height: 800px;
    border: solid 1px red;
    
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    align-self: center;
    margin-top: -300px;
    color: white;
    
    
}

