.container-menino{
    background: red;
    width: 100px;
    height: 100ṕx;
}
.principal{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: rgb(59, 59, 84);
    height: 100vh;
}

img{
    /*display: block;*/
    /*margin-left: auto;
    margin-right: auto;*/
    width: 810px;
    height: 800px;
    border: solid 1px red;
    
}

h1{
    position: relative;
    display: flex;
    align-self: center;
    top: -50px;
}

